.sports-wrapper.row
  %p
    %strong Sport:
    ="#{@sport.title}"

  %img{ src: "#{@sport.image_link}", title: @sport.description, style: "max-width: 640px" }

  %p.caption
    ="#{@sport.description}"

  .text-center.edit-links
    = link_to "Back", sports_path
